<?xml version="1.0" encoding="UTF-8" ?>
<data>
    <items>
        <item name="org_name"></item>
        <item name="auth_key"></item>
        <item name="owner">743358</item>
        <item name="critical">10000</item>
        <item name="warning">8000</item>
        <item name="sleeptime">5000</item>
        
    </items>
</data>
